.footer-container{
    background-color: #BFDBFF;
    .row{
        padding: 30px;
    }
    
    &-h1{
        font-size: 16px;
        font-weight: map-get($map:$font-weight, $key: 'xbold' );
    }
    &-h2{
        font-size: 14px;
        
    }
}